bs4
cryptography
feedparser
Flask
gender-guesser
joblib
MarkupSafe
more-itertools
nltk
pandas
pytest
pytest-asyncio
pytest-cov
python-dateutil
pytz
requests
textblob
xlrd
faker
freezegun
aiohttp
bcrypt
fastapi
passlib
python-jose
python-multipart
sqlmodel
